* {
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", sans-serif;
	font-size: xx-large;
}

html {
	height: 100%;
}

body {
	
   background: 
		repeating-linear-gradient(45deg,
			transparent,
			transparent 32px,
			rgba(0, 128, 0, 0.5) 32px,
			rgba(0, 128, 0, 0.5) 64px),
	 	repeating-linear-gradient(-45deg,
			transparent,
			transparent 32px,
			rgba(0, 128, 0, 0.5) 32px,
			rgba(0, 128, 0, 0.5) 64px);		 

	background-color: mintcream;
	height: 80%;
	padding: 5%;
}

ul {
/*	border: solid thin black;*/
	padding-bottom: 1ex;
}

li {
	list-style-type: none;
}
div {
/*	border: solid thin red;*/
}

h1 {
	text-align: center;
	font-variant: small-caps;
	padding: 1ex 0;
}

/* editing or displaying a list of tasks as a deck */

div.deck, div#add_task {
	padding: 1%;
	text-align: center;
}

div.deck ol {
	padding: 2% 5%;
}

div.deck ol li {
	list-style-type: none;
	text-align: left;
}

div.deck label {
	display: inline-block;
   width: 50%;
   margin-right: 0.5em;
   text-align: right;
}

div.deck input[type="submit"] {
	margin: 0 auto;
}

div#add_task fieldset {
	padding: 1em;
}

fieldset {
	border: 1px solid rgb(0, 128, 0);
	margin: 1%;
}

legend {
	margin: 0 auto;
	padding: 0 0.5em;
	font-weight: bold;
}



hr {
	margin: 1em 0;
}

li.task_assignment {
	text-align: center;
	width: 80%;
	margin: 0.5em auto;
	padding: 0.2em 1em;
}

a {
	text-decoration: none;
	display: block;
	padding: 0.2em 1em;
	font-size: xx-large;
}

button {
   margin: 2ex auto;
}

button, a, input[type="submit"], li.task_assignment {
   cursor: pointer;
	background: oldlace;
	color: black;

	
	font-weight: bold;
	border-color: silver;
	border-width: 2px;
	border-style: outset;
	border-radius: 0.2em;
	transform: skewX(-20deg);
}

button:hover, a:hover, input[type="submit"]:hover, li.task_assignment:hover {
	background-color: deepskyblue;
}


ol.domains li {
	width: 80%;
	padding: 0.2em;
}


input[type=number]{
    width: 2.5em;
} 

#settings {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	padding-left: 0.2em;
}

#controls {
	padding: 1em;
}

a#gear {
	padding: 0;
	margin: 0.1em 0 0 0.1em;
}

#main {
	margin: 0 auto;
	width: 80%;
	background-color: lightgreen;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.3);
}


#late {
	width: 100%;
	margin-top: 2%;
	display: flex;
}

#late div {
	flex: 1 1 auto;
}


#this_week {
	background-color: sandybrown;
}

#overdue {
	background-color: #F08328;
}

ul#today {
	padding: 0;
}

ul#today li {
	font-size: 150%;
}

/************** Modal stuff down below ***********************/

.modal {
   display: none;
	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	z-index: 1010;
	
	width: 80%;
	max-width: 80%;
	height: 80%;
	max-height: 80%;
	
	display: block;
		
   background: lightgreen;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal-guts {
	
	/* cover the modal */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	text-align: center;

	/* let it scroll */
	overflow: auto;
	
}

.modal-overlay {

  /* recommendation:
     don't focus on the number "1000" here, but rather,
     you should have a documented system for z-index and 
     follow that system. This number should be pretty
     high on the scale in that system.
  */
	z-index: 1000;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.6);
}

.modal-guts .modal-button {
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
    
  width: 40%;
  min-height: 3em;
  
  flex: 0 0 auto;
  
  margin: 2ex auto;
}

.closed {
  display: none;
}

.invisible {
	visibility: hidden;
}

#modal-task-title {
	font-size: 200%;
}


