<html>
  {{template "header.tmpl.html"}}
<body>


{{ template "settings.tmpl.html" . }}

<div id="main">

<div class="deck">
<h1>Tasks for {{ .domain.Name }}</h2>
	
{{if and (not .daily) (not .weekly) }} 
<p>This Deck doesn't have any chores</p>
{{else}}

<form method="post" action="/task/update">
	<input type="hidden" name="domain_id" value="{{ .domain.ID }}">

	<fieldset>
		<legend>Daily</legend>
		<ol>
		{{range .daily }}
			<li><label for="{{ .ID }}">{{ .Name }}</label> x<input type="number" name="{{ .ID }}" id="{{ .ID }}" value="{{ .Count }}" min="0" max="999"></li>
		{{end}}
		</ol>
	</fieldset>

	<fieldset>
		<legend>Weekly</legend>
		<ol>
			{{range .weekly }}
			<li><label for="{{ .ID }}">{{ .Name }}</label> x<input type="number" name="{{ .ID }}" id="{{ .ID }}" value="{{ .Count }}" min="0" max="999"></li>
			{{end}}
			</ol>
	</fieldset>

		<input type="submit" value="Save">
{{end}}
</form>
</div>

<hr>

<div id="add_task">
	<form method="post" action="/task/new">
	<fieldset>
		<legend>New Task</legend>
		<input type="hidden" name="domain_id" value="{{ .domain.ID }}">
		<input type="text" name="name" size="20" maxlengt="200">
		x<input type="number" name="count" value="1" required="true">
		Weekly: <input type="checkbox" name="weekly" value="true">
		<input type="submit" value="Add">
	</fieldset>
	</form>
</div>

</div>

</body>
</html>
