<html>
  {{template "header.tmpl.html"}}
<body>


{{ template "settings.tmpl.html" }}

<div id="main">
<h1>Editing {{ .domain.Name }}</h1>


<h2>Tasks</h2>
<div>
{{if not .tasks}} 
This Deck doesn't have any chores
{{else}}

<form method="post" action="/task/update">
		<input type="hidden" name="domain_id" value="{{ .domain.ID }}">
<ol>
{{range .tasks}}
	<li>{{ .Name }} x<input type="number" name="{{ .Name }}" value="{{ .Count }}" min="0" max="999"></li>
{{end}}
</ol>
		<input type="submit" value="Save">

{{end}}
</form>
</div>

<hr>

<div>
	<form method="post" action="/task/new">
		<input type="hidden" name="domain_id" value="{{ .domain.ID }}">
		New task: <input type="text" name="name" size="20" maxlengt="200">
		x<input type="number" name="count" value="1" required="true">
		<input type="submit" value="Add">
	</form>
</div>

</div>

</body>
</html>
