<html>
  {{template "header.tmpl.html"}}
<body onload="init();">

{{ template "settings.tmpl.html" . }}

<div id="main">
	<h1 id="current_day">{{ .today }}</h1>
	<ul id="today">
{{range .pending }}
	<li class="task" task-id="{{ .Task.ID }}">{{ .Task.Name }}</li>
{{end}}
	</ul>
	
	<div id="late">
	
		<div id="overdue">
			<h1>Overdue</h1>
			<ul id="overdue_items">
					<li>Test</li>
			</ul>
		</div>

		<div id="this_week">
			<h1>This Week</h1>
			<ul id="week_items">
					<li>Test</li>
			</ul>
		</div>
	
	</div>

</div>

<div class="modal closed" id="modal">
   <!-- things that don't scroll -->

   <div class="modal-guts">
     <!-- things that scroll -->

		<h1 id="modal-task-title">TASK</h1>
		<button id="done-return-button" class="modal-button">Done &amp; Return</button>
		<button id="done-stash-button" class="modal-button">Done &amp; Stash</button>
		<button id="close-button" class="modal-button">Close</button>
   </div>
	
</div>
<div class="modal-overlay closed" id="modal-overlay">

</body>
</html>
