<html>
  {{template "header.tmpl.html"}}
<body>

{{ template "settings.tmpl.html" }}

<h1>Main page</h1>
<h2>Logged in as {{ .minion.ID}} {{ .minion.Name }} ({{ .minion.Email }})
</h2>

<h1>My Domains</h1>
<ol>
{{range .domains }}
	<li> {{ .ID }} - {{ .Owner }} ({{ .Name }})</li>
{{end}}
</ol>

<h1>Pending</h1>
<ol>
{{range .pending }}
	<li> {{ .Task.ID }} - {{ .Task.Name }} {{ .Task.Weekly }} {{ .Task.Description }} {{ .AssignedDate.Time }}</li>
{{end}}
</ol>


<div id="main">


</div>

</body>
</html>
