	<div id="settings">
		<a href="#" id="gear" onclick="document.getElementById('controls').classList.toggle('closed')">&#9881;</a>
		
		<div class="closed modal" id="controls">
		Logged in as {{ .minion.Name }}<br>
			<small>({{ .minion.Email }})</small>
			<p>
				<a href="/today" style="display: inline-block">Today</a>
				<a href="/setup" style="display: inline-block">Setup</a>
			</p>
			<h1>My Domains</h1>
			<ol class="domains">
			{{range .domains }}
				<li> <a href="/domain/edit/{{ .ID }}">{{ .Name }}</a></li>
			{{end}}
			</ol>
					</div>
	</div>
