<html>
  {{template "header.tmpl.html"}}
<body>
	


<div id="main">
<h1>Welcome to Task Master</h1>

<p>
	Task Master helps you do to tasks and chores, together with others or by yourself
</p>

<p>
	Define a Domain of tasks, like the House, the Garden, the Shared Hobby Space or anything else. In a Domain you can create all the tasks that need to be done. Task Master then keeps track of what you need to do. You can influence what tasks you get by keeping ones you dislike out of the pool, or putting the ones you do like back in to increase the chances of them coming back.
</p>


<p>
To get started, <a href="{{ .login_url }}"><button>Login with Google!</button> </a>
</p>

</div>

</body>
</html>
