<html>
  {{template "header.tmpl.html"}}
<body>
	


<div id="main">
<h1>Welcome to Task Master</h1>

<p>
	Task Master helps you do to tasks and chores, together with others or by yourself
</p>

<h2>How does it work?</h2>
<p>
	Imagine creating a deck of cards with a different chore on each card. Every day you just draw a random card and do that chore and shuffle the card back into the deck. You can also keep the card to decrease the odds of getting that chore you don't like. When the deck runs out or at the end of the month everyone just returns all cards they have. With Task Master you don't have to go and print a bunch of cards and you can create unlimited decks!
</p>

<p>
	Define a Domain of tasks, like the House, the Garden, the Shared Hobby Space or anything else. In a Domain you can create all the tasks that need to be done. Task Master then keeps track of what you need to do. You can influence what tasks you get by keeping ones you dislike out of the pool, or putting the ones you do like back in to increase the chances of them coming back.
</p>


<p>
To get started, <a href="{{ .login_url }}"><button>Login with Google!</button> </a>
</p>

</div>

</body>
</html>
